<% layout("layout/boilerplate.ejs") %>

<p class="mt-5 text-success"><b>Searched Result!</b></p>
<div class="row row-cols-lg-5 row-cols-md-3 row-cols-sm-2 row-cols-2 mt-3">

  <% if (searchByCategory && searchByCategory.length > 0) { %>
      <!-- Loop through searchByCategory and render each listing -->
      <% for (let listing of searchByCategory) { %>
        <a href="/listings/<%= listing.id %>" class="listing-link">
          <div class="card col listing-card mt-2">
            <img
              src="<%= listing.image.url %>"
              class="card-img-top"
              alt="listing_image"
              style="height: 10rem"
            />
            <div class="card-img-overlay text-white"></div>
            <div class="card-body">
              <p class="card-text text-center">
                <b> <%= listing.title %></b> <br />
                &#8377; <%= listing.price.toLocaleString("en-IN") %>/per unit
              </p>
            </div>
          </div>
        </a>
      <% } %>
  <% } else if (searchedList && searchedList.length > 0) { %>
      <!-- Loop through searchedList and render each listing -->
      <% for (let listing of searchedList) { %>
        <a href="/listings/<%= listing.id %>" class="listing-link">
          <div class="card col listing-card">
            <img
              src="<%= listing.image.url %>"
              class="card-img-top"
              alt="listing_image"
              style="height: 10rem"
            />
            <div class="card-img-overlay text-white"></div>
            <div class="card-body">
              <p class="card-text text-center">
                <b> <%= listing.title %></b> <br />
                &#8377; <%= listing.price.toLocaleString("en-IN") %>/per unit
              </p>
            </div>
          </div>
        </a>
      <% } %>
  <% } else { %>
    <!-- Render a message if no results are found -->
    <p>No results found.</p>
  <% } %>
</div>
